---
import { getCollection, render } from "astro:content";
import { ExternalLink, Github, PanelsTopLeft } from "lucide-react";

const projects = (
  await getCollection(
    "projects",
    ({ data }) => data.locale === Astro.currentLocale
  )
).sort((a, b) => a.data.order - b.data.order);

const { t } = Astro.props as { t: Function };
---

<section
  id="projects"
  class="project-section scroll-mt-5 md:scroll-mt-24 md:opacity-0"
  data-animation="visible-left"
  aria-label={t("projects.title")}
>
  <header class="flex flex-col items-center text-center space-y-4 mb-12">
    <h2 class="text-3xl font-bold tracking-tighter shiny-text">
      {t("projects.title")}
      <PanelsTopLeft className="inline size-7 text-blue-400 ml-1 mb-1" />
    </h2>
    <p class="text-blue-100 max-w-[700px]">
      {t("projects.description")}
    </p>
  </header>

  <ul
    class="grid grid-cols-[repeat(auto-fit,minmax(min(350px,90%),1fr))] gap-6"
    aria-label={t("projects.listLabel")}
  >
    {
      projects.map(async (project) => {
        const { data } = project;
        const { title, image, tags, githubUrl, liveUrl } = data;
        const { Content } = await render(project);
        return (
          <li>
            <article class="overflow-hidden flex flex-col rounded-xl bg-[linear-gradient(145deg,#1e293b80,#1e293b33)] backdrop-blur-md border border-blue-500/20 transition-all duration-300 ease-in-out hover:translate-y-[-5px] hover:border-blue-500/50 hover:shadow-[0px_10px_20px_rgba(59,130,246,0.1)] h-full">
              <figure class="h-64 w-full">
                <img
                  src={image}
                  alt={title}
                  class="object-cover h-full w-full"
                />
              </figure>
              <div class="flex flex-col pt-3 p-6 gap-5 h-full">
                <header>
                  <h3 class="text-2xl text-blue-100 font-semibold">{title}</h3>
                  <ul
                    class="flex flex-wrap gap-2 mt-2.5 *:flex-auto"
                    aria-label="Tecnologías usadas"
                  >
                    {tags.map((tag) => (
                      <li>
                        <span class="flex justify-center items-center gap-1 px-2 py-1 bg-blue-500/20 text-blue-300 text-sm rounded-full">
                          <img
                            class="opacity-100 size-5 inline-block"
                            src={tag[1]}
                            alt={tag[0]}
                          />
                          {tag[0]}
                        </span>
                      </li>
                    ))}
                  </ul>
                </header>
                <section class="leading-6 text-blue-200 text-sm flex flex-col gap-1">
                  <Content />
                </section>
                <footer class="flex justify-between mt-auto gap-2">
                  <a
                    href={githubUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="border border-blue-700 text-blue-300 transition duration-300 hover:bg-blue-900 py-2 px-4 rounded-lg font-medium flex items-center gap-2"
                    aria-label={`Código fuente de ${title}`}
                  >
                    <Github className="h-4 w-4" />
                    <span>{t("projects.code")}</span>
                  </a>
                  <a
                    href={liveUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="bg-blue-600 transition duration-300 hover:bg-blue-500 py-2 px-4 rounded-lg font-medium flex items-center gap-2"
                    aria-label={`Demo en vivo de ${title}`}
                  >
                    <ExternalLink className="h-4 w-4" />
                    <span>{t("projects.live")}</span>
                  </a>
                </footer>
              </div>
            </article>
          </li>
        );
      })
    }
  </ul>
</section>
