---
import "../styles/global.css";
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  article?: boolean;
}

const {
  title,
  description,
  image = "/favicon.svg",
  article = false,
} = Astro.props;

const currentLang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={currentLang} class="scroll-smooth bg-[rgb(1,9,28)] text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={new URL(image, Astro.site)}
      sizes="any"
    />
    <meta name="theme-color" content="#01091c" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      description={description}
      image={image}
      article={article}
    />

    <!-- JSON-LD (Person/Portfolio) -->
    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "dateCreated": "2026-01-01T00:00:00-05:00",
        "dateModified": "2026-01-01T00:00:00-05:00",
        "mainEntity": {
          "@type": "Person",
          "name": "Rolando Uzcátegui",
          "alternateName": "RolandoU548",
          "jobTitle": "Web Developer",
          "url": "https://www.rolandouzcategui.com",
          "sameAs": [
            "https://github.com/RolandoU548",
            "https://linkedin.com/in/rolando-uzc%C3%A1tegui/"
          ]
        }
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
